#vanilla-parallax{
  min-height: 480px;
  position: fixed;
  width: 100%;
  z-index: 0;
}

#intro-parallax{
  height: 880px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.layer{

  .icon-titleright, .icon-titleleft{
    color: $color-two;
    font-size: 150px;
    opacity: 0.17;
    position: absolute;
    left: 40px
  }

  &.item1{
    .icon-titleright{
      left: 154px;
      top: 311px;
      @include transform(rotate(48deg));
      font-size: 113px;
      opacity: 0.44;
    }
  }

  &.item2{
    .icon-titleright{
      left: 329px;
      top: 121px;
      @include transform(rotate(-39deg));
      opacity: 0.27;

    }
  }
  &.item3{
    .icon-titleleft{
      font-size: 170px;
      left: 173px;
      top: 112px;
      @include transform(rotate(-34deg));

    }
  }
  &.item4{
    .icon-titleright{
      font-size: 213px;
      left: 250px;
      top: -172px;
      @include transform(rotate(30deg));
      opacity: 0.44;
    }
  }
  &.item5{
    .icon-titleright{
      font-size: 375px;
      left: 19px;
      top: -131px;
      @include transform(rotate(35deg));
      opacity: 0.10;
    }
  }
  &.item6{
    .icon-titleright{
      left: auto;
      right: 198px;
      top: 82px;
      @include transform(rotate(47deg));
      font-size: 104px;
      opacity: 0.44;
    }
  }
  &.item7{
    .icon-titleleft{
      left: auto;
      right: 149px;
      top: 68px;
      @include transform(rotate(-65deg));
      font-size: 167px;
    }
  }
  &.item8{
    .icon-titleright{
      left: auto;
      font-size: 150px;
      right: 119px;
      top: -74px;
      @include transform(rotate(48deg));
      opacity: 0.27;
    }
  }
  &.item9{
    .icon-titleleft{
      left: auto;
      font-size: 200px;
      right: 235px;
      top: -128px;
      @include transform(rotate(182deg));
      opacity: 0.27;
    }
  }
  &.item10{
    .icon-titleright{
      left: auto;
      font-size: 380px;
      right: -55px;
      bottom: -157px;
      @include transform(rotate(126deg));
    }
  }
}

.careers{
  overflow: hidden;

  section{
    min-height: 305px;
    background: white;
    z-index: 1;
    position:relative;
    margin:0;
  }

  h2{
    left: 50%;
    margin-left: -270px;
    width: 540px;
    top: 53px;
    position: absolute;
    font-family: $font-secondary;
    font-size: 72px;
    text-align: center;

    span{
      color: $color-two;
    }
  }

  #first-parallax{
    h2{
      top: 100px;
    }
  }

  .slider{
    background:#fff url(asset-path("backvalor.png",image));

    ul{
      padding: 0 0 40px;
    }
    li{
      min-height: 204px;
      float: left;
      max-width: 280px;
      width: 100%;
      margin: 0 8px;
    }
    .dash-box{
      border: #000 dashed 1px;
      @include border-radius(5px);
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
      position: relative;
      background: #fff;
    }

    .dash-box-title{
      display: table-cell;
      height: 138px;
      vertical-align: middle;
      min-width: 279px;
    }

    .dash-box-circle{
      width: 60px;
      height: 60px;
      border: #000 dashed 1px;
      border-radius: 60px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: -13%;
      background: #d8e6f5;
      z-index: -1;
    }

    .back-box-circle{
      position: absolute;
      bottom: -23px;
      display: inline-block;
      left: 50%;
      margin-left: -29px;
      background: #d8e6f5;
      width: 58px;
      height: 58px;
      @include border-radius(60px);
    }

    .plus{
      width: 40px;
      height: 40px;
      line-height: 31px;
      border-radius: 60px;
      margin: 11px 10px 10px 9px;
      background: #7aa7db;
      color: #fff;
      font-family: $font-secondary;
      font-weight: 300;
      font-size: 55px;
      display: inline-block;
    }

    h3{
      padding: 0 34px;
      color: #316baf;
      font-weight: 300;
      text-transform: none;
      font-size: 20px;
    }

    a{
      display: block;
      background: #d8e6f5;
      color: #373435;
      height: 64px;
      line-height: 42px;
      @include border-radius(0 0 5px 5px);
    }
  }

  .testimonies {
    background: url("/assets/background-dark-pattern.gif") repeat 0 0;

    .video-frame {
      width: 697px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 43px;
      margin-bottom: 56px;
    }

    .text-foot {
      position: relative;
      width: 530px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 112px;

      p {
        color: #FFF;
        font-size: 20px;
        font-family: $font-primary;
        text-align: center;
        line-height: 24px;
      }

      .quote-open {
        background: url("/assets/quote-open.png") no-repeat;
        width: 46px;
        height: 38px;
        display: block;
        position: absolute;
        top: -21px;
        left: -49px;
      }

      .quote-close {
        background: url("/assets/quote-close.png") no-repeat;
        width: 49px;
        height: 38px;
        display: block;
        position: absolute;
        bottom: -11px;
        right: -49px;
      }
    }
  }

  .news{
    ul{
      @include outer-container;
    }
    li{
      @include span-columns(4);
      float: left;
      margin-left: 0;
    }
    .news-item{
      padding:33px 3.5% 42px;
    }
  }
}

.careers-work, .careers-contact{
  font-size: 40px;
  font-family: $font-secondary;
  top: 325px;
  position: absolute;

  a{
    color: $color-one;
    font-size: 60px;
  }

  span{
    font-weight: 300;
  }
}

.dash-left, .dash-right{
  top: 325px;
  position: absolute;

  .dash{
    width: 115px;
    border-top: dashed 2px $color-five;
    position: absolute;
    top: -50px;
  }
}

.dash-left{
  left: 55%;
  margin-left: -175px;

  .dash{
    float: right;
    margin-left: -175px;
    @include transform(rotate(-51deg));
    right: -70px;
  }
}

.dash-right{
  right: 55%;
  margin-right: -175px;

  .dash{
    @include transform(rotate(51deg));
    left: -70px;
  }
}

.careers-work{
  left: 33%;
  margin-left: -150px;

  .decoration{
    background: url(asset-path("sprite.png",image)) no-repeat;
    position: absolute;
    height: 18px;
    width: 180px;
    right: 6px;
    bottom: -12px;
  }
}

.careers-contact{
  right: 33%;
  margin-right: -130px;

  .decoration{
    background: url(asset-path("sprite.png",image)) no-repeat right bottom;
    position: absolute;
    height: 9px;
    width: 154px;
    left: 6px;
    bottom: -6px;
  }
}

.scroll-now{
  background: $color-one;
  height: 136px;
  font-family: $font-secondary;
  color: $color-six;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  padding-top: 41px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;

  span{
    display: inline-block;
    width: 57px;
    height: 57px;
    text-align: center;
    line-height: 57px;
    @include border-radius(50%);
    background: $color-two;
  }

  i{
    color: $color-one;
    display: inline-block;
    @include transform(rotate(90deg));
    left: -1px;
    position: relative;
    top: 2px;
  }
}

.careers-title{
  height: 200px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover1 {
  background: rgba(91,148,214,0.45);

  h2{
    color: #416ea3;
  }
}

.slider-valor{
  position: absolute;
  z-index: -1;

  &.active{
    position: static;
    z-index: 0;
  }
}

.single-valor{

  top: 0;
  background: white;
  height: 100%;
  width: 100%;
  display: none;

  &.active{
    display: block;
  }

  .close-top{
    background: #c6c6c6;
    width: 48px;
    height: 48px;
    @include border-radius(0 0 10px 10px);
    float: right;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
  }
}

.single-valor-title{
  background: #ecf1f5;
  height: 80px;
  text-align: center;

  h2{
    color: $color-three;
    display: inline-block;
    font-size: 20px;
    margin: 27px 0 0;
    position: static;
    width: auto;
    font-family: $font-primary;
    font-weight: 400;
  }
}

.careers{
  .single-valor-content{
    text-align: center;

    h3{
      font-size: 26px;
      color: $color-one;
      padding: 0;
      font-weight: 600;
      line-height: 30.5px;
    }

    p{
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

.cover2{
  background: rgba(242,8,146,0.20);

  h2{
    color: $color-two;
  }
}

.cover3{
  background: rgba(55,52,53,0.21);

  h2{
    color: $color-one;
  }
}
