@media (max-width: 767px){

/* ----------------------------
:: HEADER
---------------------------- */
  header{
    border-bottom: #5f5d5e solid 2px;
    padding-bottom: 19px;

    .container{
      height: auto;
    }

    h1{
      margin-top: 65px;

      a{
        width: 189px;
        margin: 0 auto;
      }
    }

    .lang{
      float: none;
      position: static;
      background: none;
    }

  }

/* ----------------------------
:: MENU
---------------------------- */
  nav{
    -webkit-transition:all 0.4s ease;
    background: none;

    ul{
      clear:both;
      display: none;
      margin: auto;
      padding: 25px 0;
      background: #383435;
      position:relative;
      z-index: 9999;

      li{
        display: block;
        text-align: center;
      }
    }

    a{
      height: 45px;
      width: auto;
      position:relative;
      font-size: 1.3em;
      line-height: 45px;
      vertical-align: middle;
    }

    a:hover:before, a.active:before, a:hover:after, a.active:after{
      top: 20%;
    }

    a:hover:before, a.active:before{
      left:-20px;
    }

    a:hover:after, a.active:after{
      right:-20px;
    }
  }

  nav span, nav #menu-btn{
    position: absolute;
    padding: 0 4px;
    border-radius: 0.2em;
    background:none;
    z-index: 999;
    display: inline-block;
    font-family: $font-primary;
    right: 0.4em;
    border: 1px solid #383435;
    padding: 0 4px;
    font-weight: bold;
  }

  nav #menu-btn{
    top: 0.4em;
    color: #f10993;
    font-size: 1.5em;
  }

  nav span{
    @include border-radius(0 0 0.2em 0.2em);
    display: none;
    background: #383435;
    padding: 0px 9px 3px;
    color: #f10993;
    font-family: arial;
    bottom: -27px;
    font-size: 1.2em;
    padding: 1% 2%;
    cursor: pointer;
  }

}
