@media (max-width: 767px){

/* ----------------------------
:: HOME
---------------------------- */
  .introduction{
    h2{
      font-size: 2.3em;
      line-height: 39px;
      margin: 39px 0px;
      padding: 0 11%;
    }

    p{
      float: none;
      font-size: 1.1em;
      line-height: 1.6em;
      margin: auto;
      min-height: 0px;
      position: static;
      width: 73%;
      text-align: center;
    }

    #intro.carousel{
      p{
        width: 100%;
      }
    }
  }

  #intro{
    .carousel-inner{
      padding-bottom: 40px;
    }
  }

  .projects{
    .container-title{
      h2{
        font-size: 38px;
      }
    }
  }

  #cases.carousel{
    margin: auto;

    .carousel-caption{
      padding:25px 15px 30px;
      min-height: 230px;
      position: static;
    }
  }

  .technologies ul, .tools ul{
    width: 100%;

     li{
      float: none;
      background: none;
      border: none;
      margin: auto;
      height: auto;
      width: 100%;
      display: block;

      h3{
        height: auto;
        width: 80%;
        display: block;
        margin: auto;
      }
    }
  }

  .news{

    .container-title{
      h2{
        margin-bottom: 15px;
      }
    }

    ul{
      margin: auto
    }

    .news-item {
      margin: auto;
      margin-bottom: 15%;
      padding: 7%;
      width: 100%;
      float: none;

      .more {
        font-size: 2.2em;
        left: 1px;
        right: 1px;
        margin: auto;
        display: inline-block;
        width: 130px;
        text-align: center;
      }
    }
  }

  .certify{
    margin-left: 23px;
    margin-right: 23px;
  }

  .ribbon .ribbon-right, .ribbon .ribbon-left{
    display: none;
  }

}