@media (max-width: 939px){

/* ----------------------------
:: HOME
---------------------------- */
  .introduction{
    h2{
      font-size: em(42);
      margin:50px 0;
    }

    #intro.carousel{
      height: 480px;
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none;
        position: static;
        margin: auto;
      }

      .carousel-caption{
        position: static;
      }

      .item{
        text-align: center;
      }

      img{
        display: inline-block;
      }

      p{
        text-align: center;
        float: none;
        position: static;
        margin: auto;
        width: 80%;
        min-height: 0;
      }
    }
  }

  .technologies ul , .tools ul {
    margin: 0 auto;
    width: 672px;

    h3{
      width: 100%;
      margin: auto;
      display: block;
    }
  }

  .news{
    ul{
      margin: 0;
    }

    .news-item {
      width: 83%;
      height: auto;
      margin:0 auto 50px;
      float: none;
      padding: 47px 60px 0;

      .more{
        font-size: 2.2em;
        left: 1px;
        right: 1px;
        margin: auto;
        display: inline-block;
        width: 140px;
        text-align: center;
      }
    }
  }

  .certify {
    position:relative;
    top: 3em;
  }

  .ribbon-border .ribbon {
    padding: 10px 100px;
  }

}