 // Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------------
:: HOME
---------------------------- */
.introduction{
  overflow:hidden;
  position:relative;

  h2{
    @include titlesize(50);
    text-align: center;
    margin:76px 0;
    padding: 0px 50px;
    font-family: $font-secondary;
    letter-spacing: 1px;
    min-height: 100px;

    strong{
      color:#f10993;
    }
  }

  p{
    font-size: em(18);
    line-height: 27px;
    min-height: 200px;
    font-family: $font-primary;
    margin: 0;

    strong{
      background: #F10993;
      color: white;
      padding: 0px 5px;
    }
  }
}

.technologies, .tools{
  clear:both;
  padding-bottom:6px;

  ul{
    margin-top: 7px;
  }

  li{
    height:184px;
    text-align:center;

    h3{
      display: table-cell;
      font-size: em(16);
      height: 50px;
      line-height: 21px;
      padding: 0 22px;
      vertical-align: middle;
      width: 216px;
      font-family: $font-primary;
    }
  }
}

.news{
  ul{
    margin-left: -20px;
    margin-top: 15px;
  }

  .news-item{
    background: white;
    width: 300px;
    min-height: 335px;
    height: auto;
    border: 1px solid #C2B7BB;
    padding: 33px 42px 42px;
    float: left;
    margin-left: 20px;
    margin-bottom: 147px;
    position: relative;

    .icon-calendar{
      float: left;
      font-size: em(15);
      line-height: 18px;
      margin-right: 5px;
      background: none;
    }

    .published-at,h3{
      font-weight: lighter;
      margin-bottom: 21px;
    }

    .published-at, .title, .description{
      font-size: em(13);
    }

    h3{
      font-size: em(20);
      margin-bottom: 17px;
      line-height: 22px;
      margin-top: 0;
      font-family: $font-primary;
      text-transform: none;
    }

    .title {
      margin-bottom: 0px;
      text-transform: uppercase;
      margin-left: 1px;
      font-weight: lighter;
    }

    .published-at, .description{
      color: #373435;
    }

    .title, h3{
      color: #e80892;
    }

    .description{
      height: auto;
      margin-bottom: 15px;
      line-height: 20px;
      font-weight: lighter;
    }

    .more{
      @include border-radius(5px);
      @include box-shadow(2px 2px 16px -5px #000);
      background: #E50892;
      border: 2px solid #A60563;
      bottom: -21px;
      color: #fff;
      font-family: $font-secondary;
      font-weight: bold;
      font-size: em(34);
      height: 47px;
      line-height: 40px;
      left: 84px;
      padding: 0px 20px 2px 17px;
      position: absolute;
      width: auto;
      text-decoration:none;
    }
  }
}

.certify{
  border:#19375a solid 1px;
  margin: 2em 47px 133px;
  clear:both;

  .ribbon{
    @include box-shadow( 0 4px 10px #777 );
    font-size: em(14);
    width: 100%;
    position: relative;
    background: rgba(46, 99, 163, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 10px 12px;
    border:#387cb9 solid 1px;

    strong{
      text-shadow: 1px 1px 2px #333;
    }

    span{
      color:#5e99dd;
    }

    .ribbon-left, .ribbon-right{
      background:url(asset-path("ribbon-left.png", image)) no-repeat 0 0;
      width:104px;
      height:53px;
      position:absolute;
      bottom:-27px;
    }

    .ribbon-left{
      left:-47px;
    }

    .ribbon-right{
      background:url(asset-path("ribbon-right.png", image)) no-repeat 0 0;
      right:-48px;
    }
  }

}
// end home


/* ----------------------------
:: SLIDER
---------------------------- */
#intro.carousel{
  margin: 0;
  height: auto;

  .carousel-inner{
    .item{
      img{
        max-height:297px;
      }
    }
  }

  .carousel-caption{
    float: right;
    position: absolute;
    bottom: 72px;
    left: 480px;
    background: none;
  }
}

#cases.carousel{
  margin:0 7% 39px;

  .carousel-inner{
    .item{
      border:#c2b7bb solid 1px;
    }
  }

  .carousel-caption{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 15px 30px;
    background: rgba(255, 255, 255, 0.9);
    border:#000 solid 1px;
    text-align: left;
    min-height:auto;
  }

  img{
    width:100%;
  }
}
//end slider