/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/config/database.yml
/public/system
/public/static-site
/public/populate_images
/coverage
.DS_Store
.rvmrc
/a
/doc

# Ignore application configuration
/config/application.yml
