@media only screen and (max-width: 767px) {
	.row{
		p{ text-align: justify; }
	}
	.eight.columns{
		h3{ display: block!important; }
	}
	.four.columns.last{ right: auto!important; }
}
/* Landscape Orientation */
@media only screen and (max-width: 767px) and (orientation: landscape) {
	.eight.columns{ 
		width: 50%!important; 
		float: left!important; 
		p{ padding-right: 5px; }
	}
	.four.columns.last{ padding-top: 40px!important; }
}

/* settings */
$firstColor: #FDFDFD;
$secondColor: #E2017C;
/* -------- */
h1 {
	font-size: 28px;
	font-weight: 800;
}
h2{ font-size: 23px; }

h3{	
	color:$secondColor;
	font-weight: 800;
	clear: both;
	text-transform: uppercase;
	margin: 0px;
	}
a.url{ 
	color:$secondColor;
	margin-top: 0px;
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 23px;
	text-transform: uppercase;
	display: inline-block;
}
p {
	font-family: "Dosis";
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	margin-bottom: 22px;
	color: #929292;
}
p.description, .text-description ul li {
	font-size: 23px;
	line-height: 25px;
	letter-spacing: 0px;
	color: #929292;
	margin-bottom: 21px;
	a{  color:$secondColor;  }
}
.text-description ul {  margin-bottom: 17px;  }
.text-description ul li {  line-height: 7px;  }
.extended_description ul li {
	font-size: 17px;
	margin-bottom: 16px;
}
.box{
		height: auto;
		margin-top: -10px!important;
	img{
		height: 230px;
		width: 234px;
		margin: 15px;
		margin-left: 22px;
		margin-bottom: 0px;
	}
	h4 {
		font-size: 21px;
		line-height: 28px;
		background: #19375B;
		color: white;
		padding-left: 10px;
		margin-bottom: 10px;
		font-weight: 700;
	}
	p{  margin: 15px;  }
	p.title{  font-size: 17px;  }
	ul{
		p{  margin-bottom: 0px;  }
		li{
			color: inherit !important;
			font-weight: normal;
			background: white!important;
			margin-top: 0px;
			margin-left: 5px;
			ul {
				margin-left: 25px;
				margin-top: 10px;
				li {
					font-size: 16px;
					margin-left: -10px;
					line-height: 18px;
					color: #929292!important;
					width: 242px;
				}
				li:hover{
					background: url(asset-path("deco-title.png",image)) 5px -2px no-repeat !important;
					background-size: 267px 100% !important;
					height: auto;
					color: white!important;
					padding-left: 10px;
					font-weight: bold;
					margin-left: -20px;
					line-height: 18px;
					font-size: 16px;
				}
			}
		}
		li:hover{
			margin-left: 5px;
			padding-left: 0px;
		}
	}
}
