@media only screen and (max-width: 767px) {
	.row{
		p{ text-align: justify; }
	}
	.eight.columns{
		h3{ display: block!important; }
	}
	.four.columns.last{ right: auto!important; }
}
/* Landscape Orientation */
@media only screen and (max-width: 767px) and (orientation: landscape) {
	.eight.columns{ 
		width: 50%!important; 
		float: left!important; 
		p{ padding-right: 5px; }
	}
	.four.columns.last{ padding-top: 40px!important; }	
}

/* settings */
$firstColor: #FDFDFD;
$secondColor: #E2017C;
/* -------- */

h3{	
	color:$secondColor;
	font-weight: bold;
	clear: both;
	text-transform: uppercase;
	margin: 0px;
	}
h4.second{ 
	color:$secondColor;
	margin-top: 0px;
	margin-bottom: 30px;
}
.box{
	height: auto;
	img{    
    height: 230px;
    width: 234px;
    margin: 15px;
		margin-left: 22px;
	}
	p{	margin: 15px;	}

	ul{
		p{
			margin-bottom: 0px;
			}
		li{
			color: inherit !important;
			font-weight: normal;
			background: white!important;
			margin-top: 0px;
			margin-left: 5px;
			ul {
				margin-left: 25px;
				li {  margin-left: -5px;  }
				li:hover{
					background: url(asset-path("deco-title.png",image)) -4px 1px no-repeat !important;
					background-size: 261px 100%;
					height: auto;
					color:white!important;
					padding-left: 10px;
					font-weight: bold;
					margin-left: -15px;
				}
			}
		}
		li:hover{
			margin-left: 5px;
			padding-left: 0px;	
		}
	}
}
