/* Small screens */
@media only screen and (max-width: 767px) {
	.columns.last{ 
		float:none!important; 
		right: 0px; 
		padding-left: 0px; }
}
/* Landscape Orientation */
@media only screen and (max-width: 767px) and (orientation: landscape) {
	.methodologies img {
    height: auto;
    width: 100%;
	}
}

/* settings */
$firstColor: #FDFDFD;
$secondColor: #E2017C;
/* -------- */

h3{	
	color:$secondColor;
	font-weight: bold;
	clear: both;
	text-transform: uppercase;
	}
h4.second{ text-transform: none;	}
p.principal{
	font-weight: bold;
	font-size: 1.2em;
}
article{
	margin-bottom: 30px;
	margin-right: 34px;
	height: 450px;
	.description{	width: 595px;	}
}
.box{
	margin-bottom: 15px;
	height: auto;
	min-height: 160px;
}
.methodologies{
	padding-bottom: 0px;
	img{
		height: 410px;
		width: 280px;
	}
	p{	margin: 15px; }
}
input,textarea {	background-color: #E1E1E1;	}
input.button[type="submit"] {	
	float: left;	
	background-color: $secondColor;
	padding: 3px 10px;
	font-family: Dosis;
	text-transform: uppercase;
}
.files{
	img{	
		float: left;
		margin-right: 10px;
	}
	ul{ list-style: none;	}
	b{	text-decoration: underline;	}
	a{	
		display: block;
		color: #19375B;
		margin-bottom: 15px;
	}
	a.more{	
		display: inline;
		color:$secondColor;
		margin-left: 10px;
		text-transform: uppercase;
		}
}
div.field_with_errors {
	input {
		border: 1px solid #E2017C;
	}
	textarea{
		border: 1px solid #E2017C;	
	}
}