@media only screen and (max-width: 767px) {
	article{
		margin-top: 20px!important;
		img{
			height: auto!important;
		}
		p{ text-align: justify; }
	}
	.four.columns.last{ right: auto!important; }
}
/* Landscape Orientation */
@media only screen and (max-width: 767px) and (orientation: landscape) {
	article.news{ width: 100%!important; }
	.button.large{ clear: both; }
}

/* settings */
$firstColor: #FDFDFD;
$secondColor: #E2017C;
$thirdColor: #929292;
/* -------- */

h3{	
	color:$secondColor;
	font-weight: bold;
	clear: both;
	text-transform: uppercase;
	margin: 0px;
	}
h4.second{ 
	color:$secondColor;
	margin-top: 0px;
	margin-bottom: 30px;
}
.box{
	height: auto;
	p{	margin: 15px;	}
}
.methodologies{
	ul{
		margin-top: 15px;
		padding-bottom:0px;
		li{
			margin-top: 0px;
			margin-left: 15px;
		}
		p{	
			font-weight: bold;
			margin: 0px;
			margin-top:10px;
		}
		a{
			color: $thirdColor;
			}
	}
	.highlighted{
		a, a:hover, a:visited{	color: white;	}
		width: 272px;
		font-weight: normal;
		display: block;
		margin-top: 0px;
		margin-left: -5px;
	}
}
.news{
	border:0px;
	background: transparent;
	width: 100%;
	height: auto;
	margin-top: 30px;
	.published-at{
		font-size: 1.4em;
	}
	.title{
		color: $thirdColor;
		font-size: 2em;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 20px;
	}
	img{
		width: 100%;
		height: 404px;
	}
	p.img-desc{
		background: #E5E5E5;
		padding: 5px;
		padding-left: 10px;
		margin-bottom: 15px;
	}
}
.button.large{	
	float: left;
	text-transform: none;
	padding: 3px 10px;
	width: auto!important;
	font-weight: normal;    
	font-size: 1.1em !important;
	margin-top: 20px;
}