h1 Someone answered your comment in #{@article_title}

h3 Answer:
p style="background: #6E6E6E; color: #ffffff; padding: 10px;"
  = @answer

p You can read the answer here:
a href="www.insignia4u.com/blog/articles/#{@comment.article.slug}" #{@article_title} @ insignia4u Blog