<ul>
    <li class="first">
        <h2 class="title2">CONTACTO</h2>
        <p>Lamadrid 318, Piso 4 - Depto. A<br />
            San Miguel de Tucum&aacute;n<br />
            Tucum&aacute;n, Argentina
        </p>
        <p>T: +54 (381) 420-7387<br />
            M: contacto@insignia4u.com
        </p>
    </li>
    <li class="col">
        <h2 class="title2">NEWSLETTER</h2>
        <p>Suscribite a nuestro newsletter<br /> y recib&iacute; informaci&oacute;n sobre nuestra<br /> empresa peri&oacute;dicamente en tu e-mail.</p>
        <form>
            <input class="ctext" type="text" />
            <input class="btn" type="submit" value="ENVIAR" />
        </form>
    </li>
    <li class="col">
        <h2 class="title2">M&Aacute;S SOBRE INSIGNIA</h2>
        <ul class="social">
            <li class="tw"><a href="">twitter</a></li>
            <li class="fb"><a href="">facebook</a></li>
        </ul>
        <ul class="lang">
            <li class="es"><a href="">Espa&ntilde;ol</a></li>
            <li class="en"><a href="">English</a></li>
        </ul>
    </li>
</ul>
<a class="by" href="">ABRA</a>