<div class="header">
    <div class="bartop"></div>
    <h1 class="title1"><a href="">Insignia</a></h1>
    <nav>
        <ul>
            <li><a href="">NOSOTROS</a></li>
            <li><a href="">SERVICIOS</a></li>
            <li><a href="">PORTFOLIO</a></li>
            <li><a href="">CONTACTO</a></li>
            <li><a href="">EMPLEO</a></li>
            <li><a href="">BLOG</a></li>
        </ul>
    </nav>
    <ul class="social">
        <li class="tw"><a href="">twitter</a></li>
        <li class="fb"><a href="">facebook</a></li>
    </ul>
</div>