<div class="page">
	<div class="contentleft">
		<h2 class="title2">CONTACTO</h2>
		<p>Gracias por contactarte con nosotros. Utilizá este formulario para hacernos llegar tu mensaje. Nos comprometemos a responderte lo antes posible.</p>
		<form>
			<label>Nombre<sup>*</sup></label>
			<input class="ctext" name="text" />
			<label>Email<sup>*</sup></label>
			<input class="ctext" name="text" />
			<label>Comentarios<sup>*</sup></label>
			<textarea></textarea>
			<div class="formmessage">* Campos obligatorios</div>

			<div class="adj">
				Adjuntar CV * >>
			</div>

			<input class="fsubmit" type="submit" value ="ENVIAR" />

		</form>
	</div>
	<div class="sidebar">
		<h3 class="title3">UBICACI&Oacute;N</h3>
		<div class="sidemap"><img src="img/map.jpg" /></div>

		<h3 class="title3">DATOS DE CONTACTO</h3>
		<div class="sidebox">
			<p>Lamadrid 318, Piso 4 Depto A<br />
			San Miguel de Tucumán, 4000<br />
			Tucumán, Argentina<br />
			T: +54 (381) 420-7387<br />
			M: contacto@insignia4u.com</p>
		</div>
	</div>
</div>