<div class="contslider">
    <div class="slider">
        <ul>
            <li><a href=""><img src="img/pc.png" /></a></li>
        </ul>
        <a class="back disable" href="">back</a>
        <a class="next" href="">next</a>
    </div>
    <div class="description">
        <p>En <strong>Insignia</strong> desarrollamos <strong>aplicaciones web altamente interactivas</strong> utilizando <strong>metodolog&iacute;as &aacute;giles y tecnolog&iacute;as avanzadas</strong>. Nos especializamos en <strong>backend development</strong> utilizando <strong>Ruby on Rails</strong> y otras tecnolog&iacute;as web aunque, a trav&eacute;s de alianzas estrat&eacute;gicas, tenemos la capacidad para abordar<br /> <strong>trabajos de manera integral</strong> incluyendo consultor&iacute;a, frontend development y dise&ntilde;o.</p>
    </div>
</div>

<div class="cases">
	<h2 class="title2">CASOS DE &Eacute;XITO</h2>
	<ul>
		<li class="first">
			<div class="img"><a href=""><img src="img/case1.jpg" /></a><span></span></div>
			<div class="info">
				<h3 class="title3">Burdastyle.com</h3>
				<a class="link" href="">http://www.burdastyle.com/</a>
				<p>Desarrollo de backend sobre Rails de una Red Social + Sistema de pago integrado con Paypal + Integraci贸n con Facebook
					<em>Desarrollado para Area 17</em></p>
			</div>
		</li>
		<li>
			<div class="img"><a href=""><img src="img/case2.jpg" /></a><span></span></div>
			<div class="info">
				<h3 class="title3">VBS.tv</h3>
				<a class="link" href="">http://www.vbs.tv/</a>
				<p>Desarrollo de backend sobre Rails de un Canal de TV Online + Integraci贸n Ooyala API para la consulta de informaci贸n de shows
					<em>Desarrollado para Area 17</em></p>
			</div>
		</li>
		<li>
			<div class="img"><a href=""><img src="img/case3.jpg" /></a><span></span></div>
			<div class="info">
				<h3 class="title3">Craftfoxes.com</h3>
				<a class="link" href="">http://www.craftfoxes.com/</a>
				<p>Desarrollo de backend sobre Rails 3 de una Red Social + Desarrollo de Frontend + Integraci贸n Google Maps API
					<em>Desarrollado para Area 17</em></p>
			</div>
		</li>
	</ul>
</div>

<ul class="boxesinf">
	<li class="first">
		<h2 class="title2">NOVEDADES</h2>
		<div class="date">16/11/2011</div>
		<div class="subtitle">DEL FREELANCING A LA EMPRESA</div>
		<h3 class="title3">La historia de INSIGNIA</h3>
		<p>El d&iacute;a 15 de noviembre participamos de la jornada de cierre anual del Tucum&aacute;n Valley con una presentaci&oacute;n en el marco de la serie de charlas denominadas "Como vender servicios tecnol&oacute;gicos al mundo (y no morir en el intento)" . <a class="more" href="">> Ver m&aacute;s</a></p>
	</li>
	<li class="submenu">
		<h2 class="title2">TECNOLOGIAS</h2>
		<ul>
			<li><a class="active" href="">Ruby on Rails<span></span></a></li>
			<li><a href="">Kohana (PHP)<span></span></a></li>
			<li><a href="">Desarrollo Front-end: HTML, CSS y Javascript<span></span></a></li>
			<li><a href="">Desarrollo de aplicaciones m&oacute;viles para plataformas iOS y Android<span></span></a></li>
		</ul>
	</li>
	<li class="submenu">
		<h2 class="title2">METODOLOGIAS</h2>
		<ul>
			<li><a href="">Metodolog&iacute;as &Aacute;giles<span></span></a></li>
			<li><a href="">Sistemas de control de versiones: GIT, SVN y otros<span></span></a></li>
			<li><a href="">Behaviour Driven Development<span></span></a></li>
			<li><a href="">Pair Programming<span></span></a></li>
		</ul>
	</li>
</ul>