<div class="page">
	<div class="contentleft">
		<h2 class="title2">NOVEDADES</h2>
		<ul class="listpost">
			<li class="post">
				<div class="date">16/11/2011</div>
				<h3 class="title3"><a href="">Del Freelancing a la Empresa: La historia de INSIGNIA
</a></h3>
				<p>El día 15 de noviembre participamos de la jornada de cierre anual del Tucumán Valley con una presentación en el marco de la serie de charlas denominadas "Como vender servicios tecnológicos al mundo (y no morir en el intento)".</p>

				<p>Compartimos con ustedes los slides de la presentación:</p>
			</li>
			<li class="post">
				<div class="date">16/11/2011</div>
				<h3 class="title3"><a href="">Certificación de Calidad ISO-9001</a></h3>
				<img src="img/grupo.jpg" />
				<div class="ep">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>

				<p>Queríamos compartir nuestra gran noticia de la semana, Insignia SRL empezará a partir del próximo Lunes 8 de Agosto el proceso para la certificación de las normas de Calidad ISO 9001-2008 por un ente reconocido internacionalmente. Tenemos por delante un camino de 8 meses que estamos seguros, serán de mucha mejora y aprendizaje.</p>

				<p>Este es sólo una parte del conjunto de actividades que tenemos planeadas para la mejora de competitividad de la empresa, en busca de mantener e incrementar nuestro crecimiento.</p>
			</li>
		</ul>
		<a class="pback" href="">< Entradas antiguas</a>
	</div>
	<div class="sidebar">
		<h3 class="title3">INDICE DE NOVEDADES</h3>
		<div class="sidebox listmenu">
			<ul>
				<li>
					<h4>Noviembre 2011</h4>
					<ul>
						<li><a href="">Del Freelancing a la Empresa: La Historia de INSIGNIA<span></span></a></li>
					</ul>
					<h4>Agosto 2011</h4>
					<ul>
						<li><a href="">Certificación de Calidad ISO-9001<span></span></a></li>
					</ul>
				</li>
			</ul>
		</div>

		<h3 class="title3">CATEGOR&Iacute;AS</h3>
		<div class="sidebox listmenu">
			<ul>
				<li>
					<ul> 
						<li><a href="">Corporativas<span></span></a></li>
						<li><a href="">Eventos<span></span></a></li>
						<li><a href="">Lanzamientos<span></span></a></li>
						<li><a href="">Presentaciones<span></span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>