<h2 class="title2p">PROYECTOS DESTACADOS</h2>
<div class="contslider portfolio">
    <div class="slider">
        <ul>
            <li>
            	<img src="img/craftfoxes.jpg" />
            	<div class="description">
            		<h3>Craftfoxes</h3>
					<p class="link">www.craftfoxes.com</p>

					<p>Craftfoxes.com es una red social que genera un espacio para que aquellos que desean mostrar y compartir sus trabajos de manualidades, permitiendo además que otros puedan reproducir las mismas a través de tutoriales, proyectos y galerías de imágenes.</p>

					<p class="small">USA | Red social | Backend | Ruby on Rails | Integración con Paypal | Integración con Facebook</p>
			    </div>
            </li>
        </ul>
        <a class="back disable" href="">back</a>
        <a class="next" href="">next</a>
    </div>
</div>

<div class="other">
	<h2 class="title2">OTROS TRABAJOS</h2>
	<a class="listall" href="">LISTADO COMPLETO DE TRABAJOS</a>
	<div class="pdf"><p><strong>Descargá</strong> un portfolio con nuestros trabajos
destacados en formato <strong>PDF</strong> haciendo <a href="">click aquí</a></p></div>
</div>

<div class="cases lastcases">
	<h2 class="title2">ULTIMOS TRABAJOS</h2>
	<ul>
		<li class="first">
			<div class="img"><a href=""><img src="img/case1.jpg" /></a><span></span></div>
			<div class="info">
				<h3 class="title3">Burdastyle.com</h3>
				<a class="link" href="">http://www.burdastyle.com/</a>
				<p>Desarrollo de backend sobre Rails de una Red Social + Sistema de pago integrado con Paypal + Integración con Facebook
					<em>Desarrollado para Area 17</em></p>
			</div>
		</li>
		<li>
			<div class="img"><a href=""><img src="img/case2.jpg" /></a><span></span></div>
			<div class="info">
				<h3 class="title3">VBS.tv</h3>
				<a class="link" href="">http://www.vbs.tv/</a>
				<p>Desarrollo de backend sobre Rails de un Canal de TV Online + Integración Ooyala API para la consulta de información de shows
					<em>Desarrollado para Area 17</em></p>
			</div>
		</li>
		<li>
			<div class="img"><a href=""><img src="img/case3.jpg" /></a><span></span></div>
			<div class="info">
				<h3 class="title3">Craftfoxes.com</h3>
				<a class="link" href="">http://www.craftfoxes.com/</a>
				<p>Desarrollo de backend sobre Rails 3 de una Red Social + Desarrollo de Frontend + Integración Google Maps API
					<em>Desarrollado para Area 17</em></p>
			</div>
		</li>
	</ul>
</div>