<div class="page">
	<div class="contentleft">
		<h2 class="title2">CRAFTFOXES <span>WWW.CRAFTFOXES.COM</span></h2>
		
		<p class="plus1"><strong>Craftfoxes</strong> es una red social que genera un espacio para que aquellos que desean mostrar y compartir sus trabajos de manualidades, permitiendo además que otros puedan reproducir las mismas a través de tutoriales, proyectos y galerías de imágenes. También contempla la plataforma de comercialización de los productos desarrollados por los usuarios para una segunda etapa de desarrollo.</p>

		<p>Además de la gestión del proyecto y todo el proceso de QA, Insignia desarrolló el backend de todas las funcionalidades del sitio, el frontend del diseño del sitio y su posterior integración con la parte funcional.</p>

		<p>Craftfoxes fue construido sobre Rails 3. Vale la pena destacar que se utilizó Rspec para introducir tests automáticos que verifiquen la validez del código y que se hicieron implementaciones sobre Redis (un motor de DB NoSQL de gran performance) para solucionar funcionalidades críticas del sitio pensado para un alto consumo. También se implementó un motor de búsqueda utilizando el motor Sphinx.</p>

		<p>El frontend se produjo sobre HTML y CSS debidamente validados y con compatibilidad para los navegadores de mayor penetración de mercado, incluyendo IE6 por un pedido puntual del cliente en base al perfil del visitante esperado. Para el trabajo de frontend recurrimos a A:BRA, uno de nuestros partners estratégicos, a fin de poder mantener la producción del proyecto dentro de los tiempos pactados.</p>
	</div>
	<div class="sidebar">
		<h3 class="title3">M&Aacute;S INFORMACI&Oacute;N</h3>
		<div class="sidebox">
			<div class="sideportfolio">
				<img src="img/portfoliomiddle.jpg" />
				<h4>Fecha de desarrollo:</h4>
				<p>Noviembre de 2010 a Mayo de 2011</p>

				<h4>Lenguajes de programaci&oacute;n</h4>
				<ul>
					<li>> Rails 3</li>
					<li>> HTML</li>
					<li>> CSS</li>
				</ul>

				<h4>Otras herramientas:</h4>
				<ul>
					<li>> Rspec</li>
					<li>> Redis</li>
					<li>> Sphinx</li>
					<li>> Kochis knowledge</li>
				</ul>
			</div>
		</div>
	</div>
</div>