<div class="page">
	<div class="contentleft">
		<h2 class="title2">TODOS NUESTROS TRABAJOS</span></h2>
		<ul class="listportfolio">
			<li class="first">
				<h3 class="title3">Burdastyle.com</h3>
				<a href="" class="link">http://www.burdastyle.com/</a>
				<p>Desarrollo de backend sobre Rails de una Red Social + Sistema de pago integrado con Paypal + Integración con Facebook
				<em>Desarrollado para Area 17</em></p>
				<a class="read" href="">> Leer caso de &eacute;xito</a>
			</li>
			<li>
				<h3 class="title3">Burdastyle.com</h3>
				<a href="" class="link">http://www.burdastyle.com/</a>
				<p>Desarrollo de backend sobre Rails de una Red Social + Sistema de pago integrado con Paypal + Integración con Facebook
				<em>Desarrollado para Area 17</em></p>
				<a class="read" href="">> Leer caso de &eacute;xito</a>
			</li>
		</ul>
		<a class="pback" href="">< Volver al Portfolio</a>
	</div>
	<div class="sidebar">
		<h3 class="title3">PORTFOLIO EN PDF</h3>
		<div class="sidebox">
			<div class="sidepdf">
				<p><strong>Descargá</strong> un portfolio con nuestros trabajos
destacados en formato <strong>PDF</strong> haciendo <a href="">click aquí</a></p>
				<div class="pdf"></div>
			</div>
		</div>
	</div>
</div>