<div class="page">
	<div class="contentleft">
		<h2 class="title2">NUESTROS SERVICIOS</h2>
		<h3 class="titlenomargin">Desarrollo de Sitios Altamente Interactivos</h3>

		
		<p><strong class="strongtitle">Desarrollo Backend:</strong>
		Disponemos de los recursos y la experiencia necesarios para tomar su idea, darle forma, y potenciarla a fin de producir un sitio web profesional basado en las tecnologías más avanzadas.</p>

		<p>Nos especializamos en desarrollo ágil de sitios altamente interactivos construidos sobre Ruby on Rails, debidamente testeados con Cucumber y Rspec, y soportados con las tecnologías más avanzadas.</p>

		<p><strong class="strongtitle">Desarrollo Mobile:</strong> 
		nos especializamos en el desarrollo de aplicaciones de productividad construídas sobre la tecnología más avanzada web para mobiles (HTML5, CSS3, JavaScript Frameworks, etc).</p>

		<p><strong class="strongtitle">Desarrollo Frontend:</strong> 
		nos encargamos de la implementación de un diseño visual en código HTML. Siempre enfocados en la calidad del código, ofrecemos un producto validado, de acuerdo a los estándares, capaz de ser visualizado en los navegadores y dispositivos más utilizados.</p>

		<p><strong class="strongtitle">Programas de Retainer para Aplicaciones basadas en Ruby on Rails:</strong>
		Mantenemos su sitio en vivo corriendo de manera estable y actualizada. Podemos brindar respuesta rápida a cualquier falla crítica que impida el correcto funcionamiento de la aplicación.</p>

		<p>Según las necesidades surgidas, también podemos encarar pequeños proyectos para añadir nuevas funcionalidades y mejoras que su sitio pudiera necesitar.</p>

		<p><strong class="strongtitle">Revisiones de Código:</strong>
		El código fuente siempre se puede mejorar. Evaluamos el código fuente de su aplicación para asegurar que el mismo sigue los standards y las best practices más utilizadas. Nuestro objetivo es mantener la aplicación corriendo con un código fuente más claro, legible y escalable.</p>

		<p><strong class="strongtitle">Escalabilidad de Sitios de Alto Tráfico:</strong>
		Escalar un sitio de alto tráfico puede ser una tarea monumental cuando no se tiene claro el camino que se debe seguir. Nos especializamos en asesorar y administrar estas transiciones de una manera simple y cómoda. Nos ocupamos de la totalidad del proceso, desde las optimizaciones necesarias hasta la migración completa del </p>

		<h2 class="title2">NUESTRO PROCESO</h2>
		<p>Nuestro proceso productivo está orientado a proveer a nuestros clientes soluciones de gran calidad, logradas con las tecnologías más modernas disponibles y debidamente testeadas para garantizar su correcto funcionamiento.</p>

		<p>Esto se logra con la implementación de las siguientes etapas:</p>
		<ul class="services">
			<li class="plan">
				<div>
					<h3 class="title3">1. Planificaci&oacute;n</h3>
					<p>Poniendo en práctica metodologías ágiles y la experiencia de un equipo en el campo, acompañamos a nuestros clientes en la formulación de proyectos concretos y realizables. En esta etapa producimos la documentación necesaria que sirve de base tanto para el presupuestado del proyecto como para su posterior implementación.</p>
				</div>
			</li>
			<li class="code">
				<div>
					<h3 class="title3">2. Codificación</h3>
					<p>Teniendo en cuenta todas las recomendaciones propuestas por las mejores prácticas de la ingeniería del software y haciendo uso de las tecnologías más avanzadas disponibles en el mercado, implementamos las funcionalidades de un proyecto siempre teniendo en cuenta su mantenibilidad, escalabilidad y performance. Todo nuestro código es verificado por tests automáticos orientados a probar la validez de su funcionamiento.</p>
				</div>
			</li>
			<li class="rev">
				<div>
					<h3 class="title3">3. Revisión de código</h3>
					<p>La calidad del código que producimos es nuestra mayor preocupación. Por esto, todos nuestros proyectos incluyen la revisión de código para cada tarea que se realiza. De esta manera garantizamos no solo su funcionamiento sino también su implementación.</p>
				</div>
			</li>
			<li class="qa">
				<div>
					<h3 class="title3">4. Control de Calidad (QA)</h3>
					<p>En esta etapa nos aseguramos que el producto que recibe el cliente se comporte y funcione de la manera que se espera, libre de errores. Este proceso se repite una y otra vez hasta entregar un producto estable.</p>
				</div>
			</li>
			<li class="prod">
				<div>
					<h3 class="title3">5. Puesta en producción</h3>
					<p>Contamos con el know how necesario para configurar el entorno de producción que mejor se ajuste a las necesidades del proyecto. Nuestro equipo cuenta con muchísima experiencia en la puesta en producción de aplicaciones de alto-tráfico tanto en servidores dedicados como también en servidores en nube.</p>
				</div>
			</li>
			<li class="mant">
				<div>
					<h3 class="title3">6. Mantenimiento</h3>
					<p>Con el objetivo de procurar la evolución de los proyectos en los que participamos, ofrecemos un servicio de mantenimiento preventivo/evolutivo para proyectos que ya se encuentran en producción.</p>
				</div>
			</li>
		</ul>

	</div>
	<div class="sidebar">
		<h3 class="title3">&iquest;C&Oacute;MO LO HACEMOS?</h3>
		<div class="sidebox">
			<p>Sin complicaciones, sin burocracia. Generamos código de gran calidad. La mantenibilidad y testeabilidad del mismo son nuestros objetivos principales en todo proyecto de software. Utilizamos Behaviour Driven Development para entregar resultados 100% testeados.</p>

			<p>Creemos en todas las bondades que las metodologías ágiles pueden aportarle a un proyecto de software, es por esto que tratamos de implementar sus prácticas y postulados en todos y cada uno de nuestros proyectos.</p>

			<p>Tenemos experiencia en la integración con APIs de terceros para crear aplicaciones web 2.0, y en el desarrollo de aplicaciones Facebook.</p>
		</div>

		<h3 class="title3">NUESTRAS CAPACIDADES</h3>
		<div class="sidebox">
			<p>Nuestra oferta de servicios está fundada sobre la solidez y profesionalismo de un equipo interdisciplinario compuesto por apasionados desarrolladores web. Nos enorgullece decir que nuestra firma dispone de un equipo de desarrollo de clase mundial el cual es capaz de enfrentar cualquier desafío que su negocio pudiese necesitar, desde encarar tanto proyectos nuevos como mantener existentes hasta escalar sitios de alta tráfico a sistema de hosting en nube.</p>
		</div>
	</div>
</div>