@media (max-width: 939px){

/* ----------------------------
:: SERVICES
---------------------------- */
  .services{
    ul.box-dashed{
      margin: auto;

      li{
        margin: 0 auto 30px;
        width: 94%;
        height: auto;
        float: none;
        display: block;
      }
    }
  }

  .services ul.box-dashed li{
    h3, p{
      display: block;
    }

    h3{
      width: auto;
      margin: 31px 6% 16px;
    }

    p{
      margin: 6%;
      margin-top: 0;
    }
  }

  .process{
    ul{
      border-top: 0px;
      width: 95%;
      margin: auto;

      li{
        border-bottom: 1px solid #B3C4D9;
        margin: 0 auto 25px;
        padding: 0 0 25px;

        h3{
          font-size: 18px;
          margin-bottom:20px;
        }

        p{
          width: 76%;
          font-size: 13px;
          line-height: 22px;
        }

        i{
          margin: 47px 8% 0 0;
          height: auto;
          width: auto;
          font-size: 59px;
        }

        span {
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
  }

  .howdowedoit, .our-offering {
    border: none;
    float: none;
    margin: auto;
    margin-bottom: 90px;
    width: 100%;

    .container-title{
      border-top:2px dashed #B8B8B8;
      margin-top:90px;
    }
  }

  .howdowedoit{
    .bullets-blue {
      padding: 20px 11% 20px 16%;
    }
  }

}