@media (max-width: 767px){

  footer{
    .container-contact {
      float: none;
      width: 100%;
    }

    .footer-subscribe {
      padding-bottom: 20px;
      padding-left: 0px;

      .email {
        width: 70%;
        padding: 5px 10px;
        position: static;
        top: 4px;
        left: 1px;
        right: 1px;
        margin: auto;
        font-size: 1.2em;
        display: block;
      }

      .btn-subscribe {
        position: static;
        margin-top: 12px;
      }

      p {
        font-size: 1.2em;
        left: auto;
        width: 100%;
        margin: 0 auto 15px;
      }

      label {
        border: 1px dashed;
        padding: 0px 30px;
        display: inline-block;
        margin-bottom: 25px;
      }
    }

    .social .container ul{
      margin-top: 0.8em;
      display: block;

      li {
        font-size: 0px;
        color: #000;
      }
    }

    ul.footer-contact:before {
      content:"Contact Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: $font-secondary;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }

    ul.footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding-top: 31px;
    }

    ul.footer-contact li{
      width: 70%;
      display: inline-block;
      line-height: 1.4em;
      text-align: center;
      margin: auto;
      float: none;
    }

    ul.footer-contact li i{
      display: block;
      line-height: 1.4em;
      margin: 5px auto;
    }
  }

  footer form{
    float: none;
    width: auto;
  }

}