// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{
  background: rgba(24, 52, 85, 0.9);
  border-top:#3469af solid 4px;
  color:#6390d4;
  text-align:center;
}

.footer-contact{
  font-size:12px;
  min-height: 112px;
  line-height: 96px;
  overflow: auto;

  li{
    font-size: 14px;
    display: inline-block;
    text-align: left;
    width: auto;
    margin-right: 25px;

    i{
      font-size: 28px;
      margin-right: 8px;
      position: relative;
      top: 8px;
    }

    a{
      color:#6390d4;
      text-decoration:underline;
    }
  }

  li.footer-contact-email{
    margin-right: 0;
  }

  .icon-envelope-alt {
    font-size: 20px;
    top: 3px;
  }
}

.footer-subscribe{
  background: #19375a;
  font-size:12px;
  height: auto;
  min-height: 193px;
  margin: 0;
  padding-top: 37px;
  border-top: 1px solid #132742;
  position: relative;
  text-align: center;

  label {
    font-size: 60px;
    color: white;
    vertical-align: middle;
    font-family: $font-secondary;
    line-height: 68px;
  }

  input {
    @include border-radius(6px);
    @include box-shadow( 2px 2px 16px -5px black );
    line-height: normal;
    height: 42px;
    margin: 0 10px;
    font-size:16px;
  }

  .email{
    width: 430px;
    padding: 8px 24px;
    position: relative;
    top: 4px;
    left: 18px;
    border: #fff solid 1px;
  }

  .btn-subscribe{
    height: 47px;
    font-size: 34px;
    position:relative;
    top: 12px;
    left: 17px;
  }

  p{
    margin: 0;
    margin-top: 12px;
    font-size: 14px;
    position: absolute;
    bottom: 46px;
    width: 100%;
  }
}

.social{
  background:#000;
  color:#747474;
  height:75px;
  font-family: $font-secondary;
  float: left;
  width:100%;

  .container{
    text-align:center;
  }
}

.social-list{
  display:inline-block;
  padding: 9px 0 0;
  color:#747474;
  font-size:44px;
}

.social-link{
  line-height: 44px;
}

.icon-slideshare, .icon-github, .icon-twitter, .icon-facebook, .icon-googleplus{
  @include border-radius(20px);
  display:inline-block;
  height: 40px;
  margin: 0 6px;
  position: relative;
  top: -4px;
  width: 40px;
  color:#fff;
  font-size:25px;
}

.icon-slideshare{
  @include box-shadow(0 0 1px #00A7A9);
  background:#00a7a9;
}

.icon-github{
  @include box-shadow(0 0 1px #387EBE);
  background:#387ebe;
}

.icon-twitter{
  @include box-shadow(0 0 1px #2DAAE1);
  background:#2daae1;
}

.icon-facebook{
  @include box-shadow(0 0 1px #3B5998);
  background:#3b5998;
}
.icon-googleplus{
  @include box-shadow(0 0 1px #2b5998);
  background:#2b5998;
}