@media (max-width: 939px){

  footer{
    background: #19375A;
    overflow: hidden;

    .container-contact{
      float: left;
      width: 50%;
    }

    form{
      float: right;
      width: 49%;
    }

    .footer-contact:before {
      content:"Contact Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: $font-secondary;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }

    .footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding: 30px 0;
    }

    .footer-contact li {
      width: 70%;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin: auto;
      float: none;
    }

    .footer-contact li i {
      display: block;
      margin: 5px auto;
    }

    .footer-subscribe .email {
      width: 65%;
      display:block;
      margin:0 auto;
      position:static;
    }

    .footer-subscribe p {
      margin: 50px 0 40px;
      padding: 0 65px;
      font-size: 14px;
      position: static;
    }

    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
      line-height: 60px;
    }

    .footer-subscribe .btn-subscribe {
      clear: both;
      position:static;
      margin: 20px auto;
    }
  }

}