// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------------
:: BUTTONS
---------------------------- */
.btn, .content .btn{
  @include box-shadow(1px 4px 7px -3px rgba(38, 35, 31, 0.9));
  background: #E50892;
  border: 2px solid #A60563;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  font-family: $font-secondary;
  font-size: 34px;
  font-weight: 300;
  height: 47px;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
}

a.btn, .content a.btn{
  padding: 2px 20px 0;
}
