// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ----------------------------
:: CAROUSEL
---------------------------- */
.carousel{
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
  overflow: hidden;

  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 0 20px;

    .item{
      position: relative;
      display: none;
      -webkit-transition: 0.6s ease-in-out left;
         -moz-transition: 0.6s ease-in-out left;
           -o-transition: 0.6s ease-in-out left;
              transition: 0.6s ease-in-out left;

      .img{
        width: auto\9;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
        display: block;
        line-height: 1;
      }
    }

    .active, .next, .prev{
      display: block;
    }

    .active {
      left: 0;
    }

    .next, .prev{
      position: absolute;
      top: 0;
      width: 100%;
    }

    .next, .active.right{
      left: 100%;
    }

    .prev, .active.left{
      left: -100%;
    }

    .next.left, .prev.right{
      left: 0;
    }
  }

  .carousel-control{
    @include border-radius(23px);
    text-decoration: none;
    background: #222;
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 45px;
    height: 45px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    z-index:999;

    i{
      font-size: 22px;
      text-align: center;
      position: relative;
      top: -7px;
      left: -0.05em;
    }
  }

  .carousel-control.right{
    right: 1px;
    left: auto;

    i{
      left: 0.05em;
    }
  }
}

.carousel-caption{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);

  h4, p, li {
    line-height: 20px;
    color: #373435;
  }

  h4 {
    margin: 0 0 5px;
    font-size:20px;
    font-family: $font-primary;
  }

  p {
    margin-bottom: 0;
    font-size:14px;
  }

  ul.bullets-blue{
    padding:0 30px 0 22px;

    li{
      line-height:23px;
      padding:0 0 3px;
      font-size: 14px;
    }

    li:before{
      margin-left: -22px;
    }
  }
}

.carousel.carousel-fade{
  .item{
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  }

  .active.left, .active.right{
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .next, .prev{
    left: 0;
    z-index: 1;
  }

  .carousel-control{
    z-index:3;
  }
}