// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------------
:: FORM
---------------------------- */
form{
  margin: 30px 0;

  .f-text, .f-textarea{
    position: relative;

    i{
      border-right: 1px solid #afaaac;
      color: #666;
      font-size: 19px;
      left: 3px;
      padding: 6px 2px 2px 0;
      position: absolute;
      text-align: center;
      top: 7px;
      width: 42px;
    }

    .icon-phone{
      font-size: 26px;
      padding: 2px 2px 0px 0;
      height: 33px;
    }
  }

  .f-textarea{
    i{
      height: 189px;
    }
  }

  .f-text input, textarea{
    @include border-radius(5px);
    @include box-shadow(1px 2px 1px -1px rgba(38, 35, 31, 0.3));
    display: block;
    border: #999 solid 1px;
    padding: 12px 10px 12px 65px;
    font-size: 15px;
    width: 100%;
    margin: 30px 0;
  }

  .f-text input:focus, textarea:focus, .footer-subscribe input.email:focus{
    border-color: #df339b;
  }

  i.focus{
    border-right: 1px solid #f20892;
    color: #f20892;
  }

  .focus ::-webkit-input-placeholder{ /* WebKit browsers */
    color:    #df339b;
  }
  .focus :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #df339b;
  }
  .focus ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #df339b;
  }
  .focus :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #df339b;
  }

  textarea{
    resize: none;
    height: 202px;
  }
}