@media (max-width: 939px){

  section{
    margin: 0 30px 10%;
  }

  .bullets-blue{
    li{
//      margin: 26px 0;
    }
  }

  .container-title{
    margin: 90px 0 0;
    width: auto;

    h2{
      position: relative;
      top: -0.6em;
      display: inline-block;
    }
  }

  ul.box-dashed.four{
    li{
      margin: 0 10px 20px;
      width: 47%;
    }
  }

  .list-with-photos {
    overflow: hidden;
    margin: 25px 0 0 45px;

    li{
      margin: 5px 18px;
      min-height: 165px;
    }
  }

  .box{
    h3{
      margin-top: 10px;
    }
  }

  .twocols{
    section{
      float: none;

      .container-title{
        margin-bottom: 0;
        border-top: 2px dashed #B8B8B8;

        h3{
          top: -0.6em;
          position: relative;
        }
      }

      p{
        margin: 15px 0;
      }
    }

    .firstcol, .secondcol{
      width: 100%;
      border: none;
      padding: 0;
      margin: 50px 0 80px;
    }

    .secondcol{
      margin-bottom: 30px;
    }
  }

}
