// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 939px){
  .contact{
    form{
      padding: 0 22px;
    }

    .box-first{
      width: 43%;
    }

    .box-second {
      float: right;
      width: 51%;
    }
  }

  .contact-info{
    .container-title{
      h2{
        font-size: 60px;
      }
    }

    .map{
      padding: 0 30px;
    }
  }

}