// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 767px){
  .contact, .contact-info{
    .primary-title{
      border-top: none;
    }
  }

  .contact{
    .primary-title{
      h2{
        font-size: 60px;
        margin-top: 34px;
      }
    }

    .box-first, .box-second, .box-thirst .btn{
      width: 100%;
      float: none;
    }
  }

  .contact-info{
    .primary-title{
      h2{
        font-size: 52px;
        margin: 0px 0 52px;
      }
    }

    .list-contact{
      width: 100%;
      text-align: center;

      li{
        float: none;
        display: inline-block;
      }

      .contact-phone {
        width: 194px;
        background-position: -258px -28px;
        padding: 30px 0 0;
        height: 116px;
      }
    }
  }
}
