// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact, .contact_form {
  .container-title{
    h2{
      font-size: 92px;
    }

    h2:before, h3:before, h2:after, h3:after {
      width: 50px;
    }
  }

  form{
    margin-top: 0;
    overflow: hidden;
    padding: 0 5px;
  }

  .box-first{
    float: left;
    width: 35%;
  }

  .box-second{
    float: right;
    width: 60%;
  }

  .box-thirst{
    width: 100%;
    clear: both;

    .btn{
      float: right;
    }
  }

}

.contact-info{
  .container-title{
    h2{
      font-size: 68px;
    }
  }

  .list-contact{
    width: 715px;
    margin: 0 auto 30px;
    overflow: hidden;

    li{
      display: block;
      float: left;
      font-size: 14px;
      font-weight: normal;
      margin: 0 12px;
      text-align: center;
      width: auto;
      background: url(asset-path("contact.png", image)) no-repeat 0 0;
      vertical-align: top;
      color: #373435;
      height: 191px;

      i{
        display: block;
        margin: auto;
        width: 20px;
        font-size: 26px;
        color: #316baf;
      }
    }

    .contact-street{
      width: 255px;
      padding: 32px 15px 0 15px;
    }

    .contact-phone{
      width: 194px;
      background-position: -258px 0;
      padding: 58px 0 0;
      height: 191px;
    }

    .contact-email{
      width: 194px;
      background-position: -457px 0;
      padding: 62px 0 0;

      .icon-envelope-alt{
        font-size: 19px;
      }
    }
  }

  .map{
    text-align: center;
  }
}

@media (min-width: 940px){
  #noty_top_layout_container{
    li{
      width: 940px;
      margin-left:auto;
      margin-right:auto;
    }
  }
}

.contact_form {
  width: 100%;
  height: 100%;
  display: block;
  background: #ed0892 !important;

  .container-title {
    margin-top: 83px;
    padding-top: 60px;
    border-top: 2px dashed #382F2D;

    h2 {
      font-size: 59px;
      top: 44px;
      background: #ED0892;
      color: #fff;
    }
    h2:before, h2:after {
      color: #000;
    }
  }

  form {
    margin: 0 0 180px 0;

    .box-first, .box-second {
      .f-text {
        input, select {
          border: #000 solid 1px;
          margin: 27px 0 36px;
          height: 44px;
          background-color: #FFF;
          outline: none;
        }
        input:focus {
          border: #000 solid 1px;
        }
        select {
          margin: 27px 0 36px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
          padding: 9px 10px 12px 60px;
          font-size: 15px;
          -webkit-box-shadow: 1px 2px 1px -1px rgba(38, 35, 31, 0.3);
          box-shadow: 1px 2px 1px -1px rgba(38, 35, 31, 0.3);
          display: block;
        }
        select:focus {
          border: #000 solid 1px;
        }
        i {
          color: #000;
        }
        i.focus {
          color: #df339b;
        }
      }
    }

    .box-first {
      width: 32.3%;

    }

    .box-second {
      width: 55.9%;
      margin-right: 29px;

      .f-textarea {
        textarea {
          border: #000 solid 1px;
          height: 124px;
          margin: 27px 0 36px;
          background-color: #FFF;
          outline: none;

        }
        i {
          height: 106px;
          color: #000;
          padding-top: 3px;
        }
        i.focus {
          color: #df339b;
        }
      }
    }

    .box-thirst {

      input {
        margin-right: 29px;
        width: 131px;
        background-color: #373435;
        border: solid 2px #000;
      }
      span {
        display: inline-block;
        float: right;
        margin-right: 34px;
        margin-top: -9px;
        font-size: 64px;
        font-weight: lighter;
        color: #FFF;
      }
      p {
        display: inline-block;
        float: right;
        margin-top: 15px;
        margin-right: 17px;
        word-spacing: -1px;
        color: #FFF;
      }
    }
  }

  .oblig-field {
    position: absolute;
    top: -10px;
    right: -35px;
    font-size: 64px;
    font-weight: lighter;
    color: #FFF;
  }
}