development:
  RECAPTCHA_PUBLIC_KEY:  some-public-key
  RECAPTCHA_PRIVATE_KEY: some-private-key
  DEVISE_SECRET_KEY: some-secret-key

production:
  RECAPTCHA_PUBLIC_KEY:  some-public-key
  RECAPTCHA_PRIVATE_KEY: some-private-key
  DEVISE_SECRET_KEY: some-secret-key
