development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: i4u_development
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: i4u_test
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock
