.blog{
  @include span-columns(12);
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 0;

  .icon-double-angle-left {
    margin-right: 6px;
    font-size: 16px;
    position: relative;
    top: 1px;
  }

  aside{
    float:none;
    margin: 0 auto 40px;

    .box-opacity{
      margin: 0 0px 30px;
      padding: 20px 20px 25px 20px;

      h2{
        margin: 0 0 15px;
      }

      p{
        font-size: em(12);
        line-height: em(20,12);
      }
    }

    @include breakpoint(tablet){
    }

    @include breakpoint(desktop){
      width: 242px;
      position: relative;
      float: right;
    }

    .icon-search-2, .search, .subscribe-link, .categories {
      display: none;

      @include breakpoint(desktop){
        display: block;
      }
    }

    @include breakpoint(desktop){
      .icon-search-2 {
        color: #F20892;
        position: absolute;
        right: 13px;
        font-size: 22px;
        top: 7px;
      }

      .search{
        @include border-radius(5px);
        @include box-shadow(1px 1px 2px #999);
        border: #a59c9f solid 1px;
        height: 21px;
        line-height: 21px;
        padding: 10px 35px 10px 18px;
        font-size: 16px;
        width: 186px;
      }

      .subscribe-link{
        font-family: $font-secondary;
        font-size: 32px;
        color: #000;
        text-decoration: none;
        width: 208px;
        margin: 38px 20px 29px;
        white-space: nowrap;

        .icon-rss{
          color: #F20892;
          font-size: 25px;
          margin: 0 0 0 17px;
        }
      }

      .list-categories{
        padding: 0;

        li{
          padding: 1px 20px;
        }

        a{
          color: #a7a6a6;
          display:block;
          line-height: 28px;
          font-weight: 600;
        }

        a:hover{
          color: #316baf;
        }
      }
    }

    .categories{

      @include breakpoint(desktop){
        display: block!important;
      }

      .close{
        display: none;
        font-weight: 300;
      }

      .arrow{
        display: none;
        border-left: white solid 1px;
        position: absolute;
        left: 50%;
        top: -10px;
        width: 12px;
        height: 12px;
      }

      &.showcat{
        .close{
          display: block;
        }
      }
    }

    form{
      margin:0;
    }

    .showcat{
      @include border-radius(0);
      position: absolute;
      margin-bottom: 140px;
      overflow: visible;
      display: none;
      margin: 0;
      padding: 0 0 30px !important;
      top: 0;
      width: 100%;
      float: none;
      z-index: 1;
      margin-left: -25px;

      ul{
        background: #295991;
        overflow: hidden;

        &:first-child {
            padding-top: 20px;
        }
        &:last-child {
          padding-bottom: 20px;
        }

        li {
          text-align: center;
        }

        a{
            color: #fff;
            font-size: 15px;
            display: block;
            line-height: 35px;
            text-decoration: none;
            font-weight: bolder;
          }
        @include breakpoint(tablet){
          padding: 20px 0;
          display: inline-block;
          margin-right: -4px;
          width: 33.33%;


          li{
            text-align: left;
            margin: 0px 0px 0px 0px;
            margin-right: 18%;
            margin-left: 18%;
          }

          a{
            color: #fff;
            font-size: 15px;
            display: block;
            line-height: 35px;
            text-decoration: none;
            font-weight: 300;
          }

          a:hover{

          }
        }
      }

      a.close{
        @include border-radius(0 0 5px 5px);
        color: #fff;
        background: #295991;
        position: absolute;
        display: block;
        height: 30px;
        padding: 0 16px 0 18px;
        border: #fff solid 1px;
        border-top: none;
        text-decoration: none;
        left: 50%;
        margin-left: -60px;

        @include breakpoint(tablet) {
          margin-top: -4px;
        }

        span{
          font-family: arial;
          font-size: 22px;
          line-height: 23px;
          margin: 0 0 0 15px;
          position: relative;
        }
      }
    }

    .tip-day, .rails-tip{
      @include breakpoint(tablet){
        width: 48%;
        min-height: 235px;
      }

      @include breakpoint(desktop){
        width: auto;
      }
    }

    .tip-day{

      @include breakpoint(tablet){
        display: block;
      }

      @include breakpoint(desktop){
      }
    }

    .rails-tip{

      @include breakpoint(tablet){
        display: block;
        float: right;
      }

      @include breakpoint(desktop){
        float: none;
      }
    }

    .circle{
      text-align: center;
    }
  }

  .column{
    width: auto;

    @include breakpoint(tablet){
    }

    @include breakpoint(desktop){
      float: left;
      width: 630px;
      margin: 0;
    }

    article{
      border-top: #CFCDCD solid 1px;
      clear:both;
      margin-bottom: 25px;
      font-size: 14px;


      p{
        font-size: 1.18em;
        font-weight: normal;
      }

      ul{
        list-style: inherit;
        padding-bottom: 20px;
        padding-left: 25px;
        li{
          font-size: 1.18em;
          font-weight: normal;
          ul{
            li{
              font-size: 14px !important;
            }
          }
        }
      }
    }

    img{
      width: 100%;
      border: #000 solid 1px;
    }

    h3{
      color: #316baf;
      font-size: em(20);
      margin: 25px 0 5px;
      font-family: $font-primary;

      @include breakpoint(tablet){
        font-size: 26px;
        margin: 20px 0 15px;
      }

      a{
        color: #316baf;
      }
    }

    .read-more{
      margin-bottom: 35px;
    }

    .btn{
      display: block;
      text-align: center;
      margin: 50px 0;
      font-size: em(35,14);
      line-height: 42px;

      @include breakpoint(tablet){
        display: inline-block;
        margin: 0 0 50px;
      }
    }

    &.listpost{
      font-size: 14px;
      .comment, .author{
        color: #f20892;
      }

      .comment{
        float: right;
        font-size: 18px;
        padding: 8px 0 0;

        .icon-comment{
          margin: 0px 0 0 5px;
          position: relative;
          top: 3px;
        }
      }

      .author{
        padding: 11px 0 11px 2px;
      }

      h3 {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 20px;

        @include breakpoint(tablet){
          font-size: 26px;
        }

        @include breakpoint(desktop){
          margin-top: 34px;
          margin-bottom: 20px;
        }
      }

      .bottom-link {
        margin-top: 8px;
        font-size: 15px;
      }
    }

    &.singlepost{
      article{
        border: none;

        p{
          font-size: 1.18em;
          font-weight: normal;
        }

        h2{
          @extend %box-transparent-rounded;
          font-size: em(18);
          line-height: em(23);
          color: $color-three;
          padding: 25px;
          text-align: center;
          font-family: $font-primary;

          @include breakpoint(tablet){
            font-size: em(28);
            line-height: em(28, 23);
          }

          @include breakpoint(desktop){
            text-align: left;
          }
        }

        ul{
          list-style: inherit;
          padding-bottom: 20px;
          padding-left: 25px;
          li{
            font-size: 1.18em;
            font-weight: normal;
          }
        }

        .reset-calendar-counter{
          overflow: auto;
          zoom: 1;
        }

        .wrapper-calendar{
          background-color:#FFF;
          padding: 5px;
          position: relative;
          overflow: hidden;
          float: left;
          margin-bottom: 10px;
          margin-right: 15px;
          width: 300px;
          .hidden-dates{
            display: none;
          }
          .out-of-print{
            display: none;
            text-align: center;
            background-color: #f2219e;
            opacity: 0.8;
            padding: 5px 100px;
            position: absolute;
            top: 50px;
            right: -100px;
            transform: rotate(35deg);
            z-index: 3;
            span{
              font-weight: bold;
              font-size: 20px;
              color: white;
            }
          }
        }
        .calendar-error{
          text-align: center;
          color: red;
          border: 3px solid red;
          padding: 10px;
          text-transform: uppercase;
        }
      }

      img{
        margin: 38px 0 0;
        display: block;
      }
    }

    .labelphoto{
      background: rgba(255,255,255,.6);
      @include border-radius(0 0 8px 8px);
      border: 1px dashed #000;
      border-top: none;
      color: $color-seven;
      text-align: center;
      padding: 15px 15px 16px;
      font-size: em(14);
      line-height: em(18);
      margin-bottom: 42px;

       @include breakpoint(tablet){
        line-height: 1.4em;
       }
    }
  }
}

.metadata-header{
  margin: 15px 0 45px;
  border-top: $color-five solid 1px;
  border-bottom: $color-five solid 1px;
  padding: 8px 0;
  position: relative;

  @include breakpoint(tablet){
    padding: 0;
    border: 0;
    margin: 24px 0 37px;
  }

  .author, .date, .comment{
    color: $color-two;
    margin-right: 20px;
    text-align: right;
    cursor: pointer;

    i {
      margin-right: 10px;
      font-size: 18px;
      vertical-align: sub;
    }

    @include breakpoint(tablet){
      display: inline-block;
      text-align: left;
    }
  }

  .author{
    float: left;

    i {
      display: none;
    }

    @include breakpoint(tablet){
      float: none;

      i{
        display: inline-block;
      }
    }
  }

  .date{
    position: absolute;
    bottom: -30px;

    @include breakpoint(tablet){
      position: static;
    }
  }

  .comment{
    float: none;

    .icon-comment{
      margin-left: 5px;
    }
  }

  .icon-user{
    display: none;
    margin-right: 5px;

    @include breakpoint(tablet){
      display: inline-block;
    }
  }
}
.column{
  .post-comment-form{
    form {
      input {
        margin-bottom: 34px;
      }
      .btn {
        margin: 45px 0 30px;
        width: 100%;
        font-weight: 600;
        font-size: 35px;
      }
    }

    @include breakpoint(tablet){
      form{
        .btn{
          float: right;
          width: auto;
          font-size: 35px;
          font-weight: 600px;
          padding: 0 35px;
          margin: 10px 0;
        }
      }
    }
  }
}


.tags{
  overflow: hidden;
  margin:30px 0;
  list-style: none !important;

  @include breakpoint(tablet){
    margin:35px 0;
  }

  a{
    @include border-radius(5px);
    color: #a7a6a6;
    border: #a7a6a6 dashed 1px;
    display:block;
    float: left;
    margin: 0 10px 15px 0;
    padding: 1px 10px 3px;
    text-decoration: none;
  }
}

.metadata-footer{
  margin: 40px 0 25px;
  overflow: hidden;

  @include breakpoint(tablet){
    border-top: $color-five solid 1px;
  }

  .social{
    @extend %box-transparent-rounded;
    margin-top: 20px;
    padding: 22px 0 18px;
    text-align: center;

    @include breakpoint(tablet){
      float: right;
      width: 30%;
    }

    li{
      @include inline-block;
      padding: 0 6%;
    }

    a{
      text-shadow: 1px 1px 1px #fff;
      text-decoration: none;
      font-size: 18px;

      .icon-thumbs-up {
        color: #3b5998;
      }
      .icon-twitter {
        color: #00aeef;
      }
      .icon-googleplus {
        color: #000;
      }
      .icon-linkedin {
        color: #0072b3;
      }
    }
    span{
      @include hide-text;
      position: absolute;
    }
  }

  .tags{
    margin: 20px 0;

    @include breakpoint(tablet){
      width: 51%;
    }
  }
}

