.fc-header-title{
  margin-bottom: 10px;
}

.fc-widget-header{
    background-color:#5985BF;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
}

.fc-week{
  border: 2px solid #444444;
}


.fc-event-title{
  text-align: center;
}

.fc-day-header{
  color:#FFF;
}

.fc-today{
  background-color: #fff;
}