.post-comment-form{
  .reply-form{
    display: none;
    .remove-reply{
      text-align: right;
      font-size: 22px;
      color: $color-two;
      cursor: pointer;
    }
  }
  .column{
    form {
      margin-top: 36px;
      input {
        margin-bottom: 34px;
      }
      .btn {
        margin: 13px 0 55px !important;
        float: right;
      }
    }
  }
}
.post-comment-form{
  .column{
    .btn{
      float: none;
      width: 100%;
      font-weight: 600;
      font-size: 35px;
    }
  }
}
