// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-blog, .nav-blog-categories, .nav-blog-categories .close{
  display: none;
}

.blog{
  .container-title{
    margin-bottom: -20px;

    h2{
      font-size: 92px;
      line-height: 92px;
      top: -66px;
    }
  }

  aside{
    width: 242px;
    position: relative;

    .icon-search-2 {
      color: #F20892;
      position: absolute;
      right: 11px;
      font-size: 22px;
      top: 8px;
    }
    form {
      margin: 0px 0 30px;
      .search{
        @include border-radius(5px);
        @include box-shadow(1px 1px 2px #999);
        border: #a59c9f solid 1px;
        height: 21px;
        line-height: 21px;
        padding: 10px 35px 10px 18px;
        font-size: 16px;
        width: 186px;
      }
    }

    .subscribe-link{
      font-family: $font-secondary;
      font-size: 32px;
      color: #000;
      text-decoration: none;
      width: 208px;
      margin: 35px auto 40px;
      display: block;
      white-space: nowrap;

      .icon-rss{
        color: #F20892;
        font-size: 25px;
        margin: 0 0 0 17px;
      }
    }

    .circle{
      display: inline-block;
      font-size: 10px;
      height: 45px;
      width: 45px;
      border-width: 2px;
      margin: 0 20px 0 0;
    }
  }

  article{
    border-top: #a7a6a6 solid 1px;
    clear:both;
  }

  .comment, .author{
    color: #f20892;
  }

  .comment{
    float: right;
    font-size: 18px;
    padding: 8px 0 0;
    
    .icon-comment{
      margin: 0px 0 0 5px;
      position: relative;
      top: 3px;
    }
  }

  .author{
    padding: 11px 0 11px 2px;
  }

  img{
    width: 100%;
    border: #000 solid 1px;
  }

  h3{
    color: #316baf;
    font-size: 26px;
    margin: 34px 0 17px;

    a{
      color: #316baf;
    }
  }

  .read-more{
    margin-bottom: 35px;
  }

  .tags{
    overflow: hidden;
    margin:35px 0 60px;

    a{
      @include border-radius(5px);
      color: #a7a6a6;
      border: #a7a6a6 dashed 1px;
      display:block;
      float: left;
      margin:0 10px 0 0;
      padding: 0 10px 2px;
      font-size: 14px;
      text-decoration: none;
    }
  }
}

.list-categories{
  padding: 0 0 20px;

  li{
    padding: 1px 15px;
  }

  a{
    color: #a7a6a6;
    display:block;
    line-height: 28px;
    font-weight: bold;
  }

  a:hover{
    color: #316baf;
  }
}