// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ----------------------------
:: PORTFOLIO
---------------------------- */
.projects-page{
  .primary-title{
    h2{
      font-size:54px;
    }
  }
}

.more-projects{
  .primary-title{
    h2{
      font-size:68px;
    }
  }

  ul{
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 838px;

    li{
      width:399px;
      float: left;
      margin:10px;

      img{
        display:block;
        border:#000 solid 1px;
        max-width:100%;
      }

      .project-info{
        @include border-radius(0 0 5px 5px);
        background: repeat 0 0 rgba(255, 255, 255, 0.4);
        border: #7e7c7d dashed 1px;
        border-top:0;
        text-align: left;
        padding:25px 18px 22px;
        font-size:14px;

        h3{
          font-size:20px;
          margin:0;
          font-family: $font-primary;

          a{
            color:#316baf;
          }
        }

        p{
          margin: 0 0 10px;
        }
      }
    }
  }
}
// end portfolio


/* ----------------------------
:: PROJECT
---------------------------- */
.project-page{
  .carousel-caption{
    position:static;
    background:#fff;
    border:#494647 solid 1px;
    min-height:auto !important;
    margin: 0 8%;
    padding-bottom:45px;
    

    h4{
      padding:14px 13px 0px;
    }

    p, ul{
      margin-left:13px;
      margin-right:13px;
    }

    p{
      margin-bottom: 19px;
    }
  }

  .more{
    position:relative;
    bottom:27px;
    margin:0 auto;
    left:0;
  }
}

.more-info{
  ul.box-dashed{
    li{
      text-align: center;
      min-height: 230px !important;

      h3{
        color: #316baf;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0 25px;
      }

      p{
        font-size: 14px;
        margin: 2px 25px 12px;
      }
    }
  }
}
// end portfolio


/* ----------------------------
:: SLIDER
---------------------------- */
#projects-page.carousel{
  .carousel-inner{
    background:url(asset_path("macbook.png", image)) no-repeat 0 10px;
    width:880px;
    height:307px;

    .macbook{
      height: 263px;
      margin: 0;
      padding: 51px 0 0;
      width: 346px;
    }

    .item{
      margin:0 0 0 100px;

      h4{
        padding:0;
        a{
          color:#316baf;
        }
      }
    }

    .carousel-caption{
      background:url(asset_path("background-pattern.gif", image)) repeat 0 0;
      left:384px;
      width:430px;
      padding:0;
      top:-2px;
      position:absolute;
      border:0;
      height: 255px;
      min-height: auto !important;

      p, ul{
        color:#7e7c7d;
        margin-left:0;
        margin-right:0;
      }

      p{
        margin:0 0 22px;
      }

      ul{
        font-size:14px;
      }
    }

    .more{
      left: 386px;
      bottom: 10px;
    }
  }

  .carousel-control{
    top: 123px;
  }

  .carousel-control.left{
    left: 6px;
  }

  .carousel-control.right{
    right: 6px;
  }
}

#project-page.carousel{
  margin-bottom: 0;

  .carousel-inner{
    background:url(asset_path("macbook.png", image)) no-repeat 0 10px;
    height:auto;
    margin:0 auto;
    background-position:center 10px;

    .item{
      margin:0;
    }

    .macbook{
      height: 263px;
      margin: 51px auto 0;
      padding: 0 0 0 7px;
      width: 346px;
    }

    .more{
      position: relative;
      bottom: 27px;
      margin: 0 auto;
    }
  }

  .carousel-control{
    top: 40%;
    bottom: auto;
  }

  .carousel-control.left{
    left: 22%;
  }

  .carousel-control.right{
    right: 21.5%;
  }
}
//end slider
