// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------------
:: STAFF
---------------------------- */
.staff{
  .primary-title{
    margin-top: 83px;

    h2{
      font-size: 66px;
    }
  }
}

.mission-vision{
  overflow: hidden;

  .box{
    text-align: center;
    width: 49%;
  }

  .first{
    float: left;
  }

  .second{
    float: right;
  }
}
