/* Small screens */
@media only screen and (max-width: 767px) {
	*{
		font-size: 1.2em; 
	}
	body{ background: #FDFDFD!important; }
	.row{  
	  margin: auto;
		padding-left: 10px;
		padding-right: 10px;
		overflow: hidden;  
	}
	.row article{
		float: none;
		margin: auto;
	}
	article.box{  height: auto;  }
}

/* Landscape Orientation */
@media screen and (max-width: 767px) and (orientation: landscape) { 
	.row{  padding-left:25px;  }
	article{
    float: left !important;
    margin-bottom: 10px !important;
    margin-right: 2% !important;
		.technologies .highlighted{
			width: 100%!important;
			background-size: 100% 30px;
			position: relative;
			left: -5px;
		}
	}
	.box{ width: 49%; }
	.last{ margin-right: 0px!important; }
	article.box.news{ width: 100%!important; }
}
/* settings */
$firstColor: #FDFDFD;
$secondColor: #E2017C;
$thirdColor: #929292;

body{
	/* gradient */
	background: rgb(253,253,253);
	background: -moz-radial-gradient(top, ellipse cover, #FDFDFD 10%, #F1EFF0 68%, #BCBCBC 87%, #9F9F9F 100%);
	background: -webkit-radial-gradient(top, ellipse cover, #FDFDFD 10%, #F1EFF0 68%, #BCBCBC 87%, #9F9F9F 100%);
	background: -o-radial-gradient(top, ellipse cover, #FDFDFD 10%, #F1EFF0 68%, #BCBCBC 87%, #9F9F9F 100%);
	background: radial-gradient(top, ellipse cover, #FDFDFD 10%, #F1EFF0 68%, #BCBCBC 87%, #9F9F9F 100%);
	/* gradient */
	font-family: Dosis;
	font-size: 14px;
	line-height: 1;
	color: #CCB2B3;
	margin: 0;
	padding: 0;
}
.columns{	padding: 0px;	}
h4{
	text-transform: uppercase;
	font-weight: 800;
}
h4.title{	color:$secondColor;	}
article{
	float:left;
	background: white;
	border: 1px solid  #E5E5E5;
	width: 279px;
	height:407px;
	overflow: hidden;
	margin-right: 50px;
	img{
		height: 250px;
		width: 290px;
	}
	span{
		position: relative;
		top:-252px;
		visibility: hidden;
		display: block;
		background:rgba(0,0,0,0.3);
		height: 251px;
		width: 290px;
		padding: 0px;
	}
	.description{ 
		font-weight: 500; 
		font-size: 14px;
		line-height: 1.25;
		position: relative;
		top:-240px;
		padding: 20px;
		padding-top: 17px;
		color: #a3a3a3;
		p{  line-height: 16px;  }
		b{
			font-weight: 800;
			font-size: 19px;
			line-height: 25px;
		}
	}
}

.last{	right:-30px;	margin-right:0px;	}
a:hover article{
		background: #19375B;
		color: white!important;
		span{ visibility: visible;}
		.description{ color:white; }
}

.bottom{	margin-top: 30px;	}

.box{	
	background: none;
	border: 0px;
	height: auto;
	overflow: visible;
	h3{
		text-transform: uppercase;
		font-weight: 800;
		color:$secondColor;
	}
	h4{
		font-size:17px;
		line-height:25px;
		background: #19375B;
		color:white;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	h6{
		font-weight: 800;
		color: #A3A3A3;
	}
	p{ color: #A3A3A3; }
	.news{	background: $firstColor;	}
}
.news-item{
	line-height: 25px;
	.description{
		margin-top: 10px;
		padding: 0px;
		top:0px;
		a{ color: $secondColor; font-style: italic;	font-weight: 300; }
	}
}
.technologies, .methodologies{
	background: white;
	border: 1px solid  #E5E5E5;
	padding-top: 10px;
	padding-bottom: 10px;
	li{
		list-style: none;
		margin-left: 20px;
		padding-bottom: 8px;
		line-height: 30px;
	}
	li:hover{
		background: url(asset-path("deco-title.png",image)) 1px 1px no-repeat;
		background-size: 271px 100%;
		width: 271px;
		height: auto;
		color:white;
		margin-left: 10px;
		padding-left: 10px;
		font-weight: bold;
	}
}
.formErrors {
	background-color: #FDFDDC;
	padding: 5px 10px;
	margin-bottom: 15px;
	border: 1px solid #EBEBBB;
	color: #E2017C;
}

span.caps{
	position: static;
	top: 5px;
	display: inline;
	visibility: visible;
	width: auto;
	height: auto;
	background: none;
}