/* Small screens */
@media only screen and (max-width: 767px) {
	footer{
		margin-top: 10px!important;
		padding-bottom: 20%!important;
		text-align: center;
		font-size: 1.2em!important;
		.button{ height: 25px!important; }
		.columns{  
			width:100%!important; 
			margin: auto!important;
			a.icon{  color:transparent;  }
	  }
		.columns.last{
			position: relative;
			top:0px;
			left: 0px;  
			float:none;
			width: 205px!important;
			margin-left: -20px;
			padding-bottom: 30px;
			overflow: hidden;
			.icon {
		    display: inline-block;
		    float: none !important;
		    font-size: 0;
		    height: 37px;
		    margin-left: 0 !important;
		    margin-right: 15px;
		    overflow: hidden;
		    width: 38px;
			}
			.eng{ margin-right: 0px; }
		}
	}
}
/* Landscape Orientation */
@media only screen and (max-width: 767px) and (orientation: landscape) { 
	footer{
		padding-bottom: 10%!important;
		.columns{  
			float:left; 
			width: 50%!important; 
			margin: auto; 
		}
		.columns.last{
			position: relative;
			top:0px;
			left: -5px;
			width: auto!important;
			margin:auto;
			clear:both;
			.icon{ margin-left: 23px;}
		}
	}  
}

/*  default  */
footer{
	background: rgb(145,145,145);
	min-height: 245px;
	margin-top: 75px;
	overflow: hidden;
	.row{
		color: white;
		margin-top: 5px;
	}
	.row .three {	width: 28.333%;	}
	.columns{	margin-right: 69px; }
	.last{	margin-right: 3px; }
	h4{ text-transform:uppercase; font-weight: 700; }
	p{
		margin: 0px;
		font-size: 12px;
	}
	input{
		border: 0px !important;
		height: 25px;
		width: 100%;
		line-height: 25px;
		margin: 0px;
	}
	.button{
		background: #e3007a!important;
		margin-top: 5px;
		height: 20px;
		font-weight: 700;
		font-size: 11px;
	}
	.foot-deco{
		display: block;
		height: 36px;
		width: 100%;
		background: url(asset-path("shadow-foot.png",image)) no-repeat;
		background-position: center -67px;
		opacity: 0.4;
	}
	.icon{	float:left;	}
	.twitter{	background-position:  -43px -40px;	}
	.facebook{	background-position:  0px -39px;	}
	.github{	background-position:  0px -153px;}
	.spa{	background: url(asset-path("insignia-sprites.png",image)) -86px -40px no-repeat;	margin-left: 10px; }
	.eng{	background: url(asset-path("insignia-sprites.png",image)) -131px -40px no-repeat;	}
	a:hover.spa{	background-position: -86px -2px;	}
	a:hover.eng{	background-position: -131px -2px;	}
	a:hover.twitter{	background-position: -43px -2px;	}
	a:hover.facebook{	background-position: 0px -2px;	}
	a:hover.github{	background-position: 0px -115px;	}
	#message.failed-subscription {
		background: rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		box-shadow: 0px 0px 7px red;
		border: 1px solid #DB0606;
		text-align: center;
		height: 27px;
		margin-top: -7px;
	}
	#message.succesfull-subscription {
		background: rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		box-shadow: 0px 0px 7px #5DFF2A;
		border: 1px solid #42DB06;
		text-align: center;
		height: 27px;
		margin-top: -7px;
	}
}