header{
  background:#fff;
  text-align:center;

  .container {
    height: 120px;
    position: relative;
  }

  h1{
    margin:37px auto 0;
    width:242px;

    a{
      display:block;
      height:58px;
      width:242px;
    }
  }

  .lang {
    float: right;
    right: 5%;
    top: -40px;
    position: relative;
    color: #F10993;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: em(14);
  }
}

/* ----------------------------
:: MENU
---------------------------- */
nav{
  background: #383435;
  position: relative;

  ul{
    display: block;

    li{
      margin: auto;
      display: inline-block;
      padding: 0 6px;
    }
  }

  a{
    color:#fff;
    height:55px;
    text-transform:uppercase;
    line-height: 55px;
    padding: 0 16px;
    vertical-align: middle;
    font-size: em(16);
  }

  a:hover:after, a.active:after, a:hover:before, a.active:before{
    vertical-align: middle;
    display: inline-block;
    width: 22px;
    position: absolute;
    top: 38%;
    color: $color-two;
  }

  a:hover:after, a.active:after{
    @include ico("\e008");
  }

  a:hover:before, a.active:before{
    @include ico("\e009");
    left:0;
  }

  span, i{
    display: none;
  }
}