body{ background: #fdfdfd!important; }
.logo{
	h1{  overflow: hidden; }
	a{ 
	 	top: -47px;
	 	padding-bottom: 40px;
	 	padding-right: 140px;
	}
}
.row .two.columns{ float:right; }
header ul{
	width: 33.33%!important;
	li{
		width: 33.33%!important;
	}
}
#featured-content .data{
	background: #fdfdfd!important;
	height: auto!important;
}
footer{ padding-top: 20px; }
footer .foot-deco{
	display: none;
}