.slider-portfolio{
	span.right {
		right: 335px!important;
		height: 55px!important;
		width: 17px!important;
		background: url(asset-path("insignia-sprites.png",image)) -204px -61px!important;
		background-size: auto!important;
	}

	span.left {
		height: 57px!important;
		width: 17px!important;
		background: url(asset-path("insignia-sprites.png",image)) -179px -61px!important;
		background-size: auto!important;
	}

	span.right {	right: 22px!important;	}
	span.left {	left: 20px!important;	}



	#featured-content{
		visibility: hidden;
		
		.orbit-slide{
			display:none;
		}

		img{
			margin-left: 0px;
		}

		.data{
			background: rgba(0,0,0,0.75);
			color:white;
			float: right;
			height: auto!important;
			width: 340px;
			position: absolute;
			right: 53px;
    		top: 5%;
			padding: 20px;

			p{
				font-size: 23px;
				font-weight:300;
				line-height:27px;
			}

			a, a:visited{  color: #E2017C  }

			h3 a, h3 a:visited{
				color: #fff;
			}

			ul{  margin-bottom: 15px;  }

			ul li{
				font-weight: 300;
				font-size: 23px;
				line-height: 27px;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		#featured-content{
			.data{

				p{
					font-size:16px;
					
					a{
						font-size:16px;
					}
				}
				ul{
					li{
						font-size:16px!important;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.orbit-wrapper {
		    //height: 323px !important;

			#featured-content{
				margin-bottom:0;

				.data{
					top:auto;
					padding:10px;
					bottom:0;
					left:0;
					width:100%;
					height:70px!important;

					h3{
						font-size:13px;
						margin:0;
					}

					p{
						font-size:13px;
						line-height:14px;
						
						a{
							font-size:13px!important;
						}
					}

					ul{
						li{
							font-size:13px!important;
							line-height:14px!important;
						}
					}
				}
			}
		}
	}
}