/ = render 'blog/articles/modules/head'

/ section.blog

/   = render 'blog/articles/modules/blog_tags'

/   .container-title
/     h2 Our Blog

/   = render 'blog/articles/modules/aside'

/   .column
/     - @articles.each do |article|
/       article
/         .comment
/           = link_to '0', blog_article_url(article), class: 'fb-comments-count',
/           data: { href: blog_article_url(article) }
/           i.icon-comment

/         .author = article.author
/         - if article.image.present?
/           picture alt=""
/             source src=article.image.url(:small)
/             source src=article.image.url(:medium) media="(min-width:440px)"
/             source src=article.image.url(:medium) media="(min-width:600px)"

/           noscript
/             img src=article.image.url(:small) alt=""

/         h3 = link_to article.title, blog_article_path(article)

/         = textilize(article.summary)

/         a.bottom-link href=blog_article_path(article)
/           | Seguir leyendo
/           span +

/         .tags
/           - article.tag_list.each do |tag|
/             = link_to tag, tag_blog_articles_path(tag)

/     a.btn href="" OLDER ENTRIES


///----- blog index    ///

section.blog
  .container-title
    h2 Our Blog
  = render "module/aside-blog"
  = render "module/post-list"



///----- blog single    ///
/ section.blog
/   .container-title
/     h2 Our Blog
/   = render "module/aside-blog"
/   = render "module/post-single"




///----- blog search    ///
/ section.blog.search-page
/   .container-title
/     h2 Our Blog
/   = render "module/aside-blog"
/   = render "module/post-search"



///----- blog tips    ///
/ section.blog.tipsday-page
/   .container-title.title-type2
/     h2 
/       span.circle
/         i.icon-smiley

/       | tips del día

/   = render "module/post-tipsday"
